<div style="overflow: hidden;">
    <font size=-1>
        <div><img src=""></div>
        <div>
            <br>
            <p><span>Cảm ơn Quý khách đã sử dụng dịch vụ MB eBanking.</span><br>
                MB xin thông báo giao dịch của Quý khách đã được thực hiện như sau:</p>
            <br>
            <br>
            <br>
            <br>
            <p><span>Xin chân thành cảm ơn.</span></p>
        </div>
        <br>
        <div><img src=""></div>
        <p class="MsoNormal"
            style="margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:0pt;margin-bottom:.0001pt;text-indent:0in">
            Hội sở: Toà nhà MB, Số 18 Lê Văn Lương – Cầu Giấy – Hà Nội – Việt Nam<br>
            <em>ĐT: </em>(+84) 24 6277 7222 <strong>|</strong> Fax: (+84) 24 6266 1080<br>
            <em>Website: <a href="http://www.mbbank.com.vn" target="_blank">http://www.mbbank.com.vn</a></em>
            <br>
            <em>Liên hệ MB 247: 1900 545426 | (+84) 24 3767 4050</em>
        </p>
    </font>
</div>