<div style="overflow: hidden;">
    <font size=-1>
        <div><img src="{{HeaderImageUrl}}" alt="HeaderImg"></div>
        <div>
            <br>
            <p>
                <span>{{Title}}</span><br>
            </p>
            <br>
            <br>
            <table border="0" cellpadding="0" width="92%" style="width:92.18%;margin-left:25.25pt">
                <tbody>
                    <tr>
                        <td width="37%" style="width:37.64%;padding:.75pt .75pt .75pt .75pt">
                            <p class="MsoNormal">
                                <strong>
                                    <span>
                                        Transaction Date
                                    </span>
                                </strong><span><u></u><u></u></span>
                            </p>
                        </td>
                        <td width="61%" style="width:61.34%;padding:.75pt .75pt .75pt .75pt">
                            <p class="MsoNormal"><span>{{TransactionDate}}<u></u><u></u></span></p>
                        </td>
                    </tr>
                    <tr>
                        <td width="37%" style="width:37.64%;padding:.75pt .75pt .75pt .75pt">
                            <p class="MsoNormal">
                                <strong>
                                    <span>
                                        Transaction Type
                                    </span>
                                </strong><span><u></u><u></u></span>
                            </p>
                        </td>
                        <td width="61%" style="width:61.34%;padding:.75pt .75pt .75pt .75pt">
                            <p class="MsoNormal"><span>{{TransactionType}}<u></u><u></u></span></p>
                        </td>
                    </tr>
                    <tr>
                        <td width="37%" style="width:37.64%;padding:.75pt .75pt .75pt .75pt">
                            <p class="MsoNormal">
                                <strong>
                                    <span>
                                        Transaction Code
                                    </span>
                                </strong><span><u></u><u></u></span>
                            </p>
                        </td>
                        <td width="61%" style="width:61.34%;padding:.75pt .75pt .75pt .75pt">
                            <p class="MsoNormal"><span>{{TransactionCode}}<u></u><u></u></span></p>
                        </td>
                    </tr>
                    <tr>
                        <td width="37%" style="width:37.64%;padding:.75pt .75pt .75pt .75pt">
                            <p class="MsoNormal">
                                <strong>
                                    <span>
                                        Source Account
                                    </span>
                                </strong><span><u></u><u></u></span>
                            </p>
                        </td>
                        <td width="61%" style="width:61.34%;padding:.75pt .75pt .75pt .75pt">
                            <p class="MsoNormal"><span>{{SrcUserName}}  - {{SrcAccountNumber}} ({{Currency}})<u></u><u></u></span></p>
                        </td>
                    </tr>
                    <tr>
                        <td width="37%" style="width:37.64%;padding:.75pt .75pt .75pt .75pt">
                            <p class="MsoNormal">
                                <strong>
                                    <span>
                                        Destination Account
                                    </span>
                                </strong><span><u></u><u></u></span>
                            </p>
                        </td>
                        <td width="61%" style="width:61.34%;padding:.75pt .75pt .75pt .75pt">
                            <p class="MsoNormal"><span>{{DesUserName}}  - {{DesAccountNumber}}<u></u><u></u></span></p>
                        </td>
                    </tr>
                    <tr>
                        <td width="37%" style="width:37.64%;padding:.75pt .75pt .75pt .75pt">
                            <p class="MsoNormal">
                                <strong>
                                    <span>
                                        Transaction Amount
                                    </span>
                                </strong><span><u></u><u></u></span>
                            </p>
                        </td>
                        <td width="61%" style="width:61.34%;padding:.75pt .75pt .75pt .75pt">
                            <p class="MsoNormal"><span>({{Currency}}) {{TransactionAmount}}<u></u><u></u></span></p>
                        </td>
                    </tr>
                    <tr>
                        <td width="37%" style="width:37.64%;padding:.75pt .75pt .75pt .75pt">
                            <p class="MsoNormal">
                                <strong>
                                    <span>
                                        Transaction Message
                                    </span>
                                </strong><span><u></u><u></u></span>
                            </p>
                        </td>
                        <td width="61%" style="width:61.34%;padding:.75pt .75pt .75pt .75pt">
                            <p class="MsoNormal"><span>{{TransactionMessage}}<u></u><u></u></span></p>
                        </td>
                    </tr>
                    <tr>
                        <td width="37%" style="width:37.64%;padding:.75pt .75pt .75pt .75pt">
                            <p class="MsoNormal">
                                <strong>
                                    <span>
                                        Status
                                    </span>
                                </strong><span><u></u><u></u></span>
                            </p>
                        </td>
                        <td width="61%" style="width:61.34%;padding:.75pt .75pt .75pt .75pt">
                            <p class="MsoNormal"><span>Transaction Successfully<u></u><u></u></span></p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
            <br>
            <p><span>Sincerely, Thank you for choosing Us.</span></p>
        </div>
        <br>
        <div><img src="{{FooterImageUrl}}" alt="FooterImg"></div>
        <p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:0pt;margin-bottom:.0001pt;text-indent:0in">
            Headquarters: FPT Aptech Hanoi, 8 Ton That Thuyet, P. My Dinh, Q. Nam Tu Liem<br>
            <em>Phone: </em>(+84) 0911 659 131 <strong>|</strong> (+84) 0973 111 086<br>
            <em>Website: <a href="https://aptech.fpt.edu.vn" target="_blank">https://aptech.fpt.edu.vn</a></em>
            <br>
            <em>Contact 247: 1900 545426 | (+84) 24 3767 4050</em>
        </p>
    </font>
</div>