<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://demoapihistory-hsgagzgtcse4daby.japaneast-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>a961b98f-e004-4c28-ba47-590278ac11d4</ProjectGuid>
    <PublishUrl>https://demoapihistory-hsgagzgtcse4daby.scm.japaneast-01.azurewebsites.net/</PublishUrl>
    <UserName>$demoApiHistory</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>